[submodule "Valkron/vendor/glfw"]
	path = Valkron/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Valkron/vendor/glm"]
	path = Valkron/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Valkron/vendor/glad"]
	path = Valkron/vendor/glad
	url = https://github.com/Dav1dde/glad.git
