[submodule "Valkron/vendor/glfw"]
	path = Valkron/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Valkron/vendor/glm"]
	path = Valkron/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Valkron/vendor/glad"]
	path = Valkron/vendor/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "Valkron/vendor/stb"]
	path = Valkron/vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "Valkron/vendor/imgui"]
	path = Valkron/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "Valkron/vendor/assimp"]
	path = Valkron/vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "Valkron/vendor/imguizmo"]
	path = Valkron/vendor/imguizmo
	url = https://github.com/cedricguillemet/imguizmo
[submodule "Valkron/vendor/imviewguizmo"]
	path = Valkron/vendor/imviewguizmo
	url = https://github.com/Ka1serM/ImViewGuizmo
[submodule "Valkron/vendor/imguifiledialog"]
	path = Valkron/vendor/imguifiledialog
	url = https://github.com/aiekick/ImGuiFileDialog
