# Valkron Engine runtime settings
# Supported keys:
# window.useDesktopResolution = true|false
# window.width = integer
# window.height = integer
# ui.scale = 0.5 .. 2.25

window.useDesktopResolution = false
window.width = 1280
window.height = 720
ui.scale = 1.0
